*{
    padding:0;
    margin:0;
}

body {
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top right,rgb(60, 58, 58),black);
}

h1{
    color: rgb(255, 200, 0);
    text-shadow: black 1px 0 10px;
    font-size: 35px;
}

#task-container{
    min-height:30rem;
    width:35rem;
    display: flex;
    flex-direction: column;
    border-radius:30px;
    align-items: center;
    position: fixed;
    padding:10px 10px;
    background-image: linear-gradient(to top right,rgb(136, 0, 9),rgb(219, 117, 0));
    box-shadow: rgb(72, 72, 72) 0px 5px 15px;
}

#task{
    font-size: 20px;
    width:20rem;
    padding:10px 10px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color :rgb(255, 200, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#dueTime{
    width:15rem;
    padding:10px 10px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color : black;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#addTask{
    font-size: 18px;
    padding:5px 5px;
    border-radius: 15px;
    width:8rem;
    color: rgb(255, 200, 0);
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tasklist-item{
    padding:5px 5px;
    text-shadow: black 1px 0 10px;
    border-radius: 15px;
    color:rgb(255, 200, 0);
    line-height: 30px;
}
.remove-btn{
    font-size: 15px;
    padding:5px 5px;
    border-radius: 15px;
    width:8rem;
    color: rgb(255, 200, 0);
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media(max-width:600px){
    #task-container{
        width:15rem;
    }
    #task{
        width:10rem;
    }
    #dueTime{
        width:10rem;
        padding:5px 5px;
    }
    .tasklist-item{
        font-size:16px;
    }
};
